.main-bottom-wrapper {
  margin-top: 10px;
  padding-bottom: 20px;
  .partner-wrapper {
    display: grid;
    grid-template-columns: 1fr 9fr;

    .list-partner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 16px;

      img {
        height: 44px;
        width: 76px;
        border: 1px solid #ccc;
      }
    }
  }
}
