.top-chart-wrapper {
    .song-top-wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-self: center;

        img {
            height: 60px;
            width: 60px;
        }
    }
}
