.navbar-title-wrapper {
  &.navbar-top-title-wrapper {
    padding: 0px 12px;
    cursor: pointer;
    color: white;
    justify-self: start;
    align-self: center;
  }
  &.navbar-bottom-title-wrapper {
    color: black;
    padding: 0px 12px;
    cursor: pointer;
  }

  &.song-number,
  &.partner {
    align-self: center;
  }

  &.song-view {
    @extend .song-number;
    justify-self: end;
    font-size: 12px;
    color: #999;
  }

  &.title {
    font-size: 24px;
    color: purple;
  }

  &.hot-topic {
    font-weight: 100;
    @extend .title;
  }

  &.hot-topic-more {
    color: #999;
  }

  &.zing-chart-word {
    @extend .title;
    font-size: 18px;
    align-self: center;
  }

  &.song {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    transition: all 0.3s;
    &:hover {
      color: #a845de;
    }
  }

  &.singer {
    @extend .song;
    color: #999;
  }
}
