.image-carousel-wrapper {
  .carousel {
    width: 40.62rem;
    height: 17.1rem;
  }

  .ant-carousel .slick-slide {
    text-align: center;
    height: 17rem;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }

  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .image-render {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
    margin-top: 0.5rem;

    img {
      width: 7.6rem;
      height: 60px;
    }
  }
}
