.header-top-wrapper {
  .navbar-top-wrapper {
    width: 63rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr 2fr;
    background-color: rgba($color: #000000, $alpha: 1);
    height: 3rem;

    .navbar-top-image {
      justify-self: start;
      align-self: center;
    }

    .options-wrapper {
      align-self: center;
      justify-self: end;

      .separate {
        font-size: 18px;
        color: white;
      }
    }
  }
}
