@mixin display-grid($x, $y, $table) {
  display: grid;
  grid-template-#{$table}: $x $y;
}

@mixin balance($x, $y) {
  justify-self: $x;
  align-self: $y;
}

.song-rank-video-wrapper {
  .song-info-video-wrapper {
    @include display-grid(2fr, 1fr, "rows");
    text-transform: capitalize;
    .song-info {
      @include display-grid(1fr, 1fr, "rows");

      .singer-wrapper {
        @include balance(unset, center);
      }
    }

    .song-view {
      @include balance(start, unset);
    }
  }

  .song-info-album-wrapper {
    .song-info {
      @include display-grid(1fr, 1fr, "rows");
      .singer-wrapper {
        @include balance(unset, center);
      }
    }

    .song-view {
      @include balance(start, unset);
    }
  }
}
