.song-rank-video-wrapper {
    .song-info-video-wrapper {
        display: grid;
        grid-template-rows: 2fr 1fr;
        text-transform: capitalize;
        .song-info {
            display: grid;
            grid-template-rows: 1fr 1fr;

            .singer-wrapper {
                align-self: center;
            }
        }

        .song-view {
            justify-self: start;
        }
    }

    .song-info-album-wrapper {
        .song-info {
            display: grid;
            grid-template-rows: 1fr 1fr;
            .singer-wrapper {
                align-self: center;
            }
        }

        .song-view {
            justify-self: start;
        }
    }
}
