.navbar-search-wrapper {
  justify-self: center;
  align-self: center;
  margin: auto;
  position: relative;

  .navbar-search-icon {
    position: absolute;
    top: 5px;
    right: 5px;

    .anticon-search {
      color: #999;
    }
  }
}
