.navbar-more-wrapper {
  &.navbar-top-more {
    justify-self: start;
    align-self: center;

    .navbar-top-title-wrapper {
      padding: 0px 12px;
    }
  }

  &.navbar-bottom-more {
    align-self: center;
  }
}
