body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: "Nunito", sans-serif;
}

.container {
  width: 63rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 15px 12px 0;
  display: grid;
  grid-template-columns: auto auto;
}
