.song-trending-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 5px 0px;
  border-bottom: 1px solid #ddd;
  margin-right: 10px;
  position: relative;

  img {
    width: 50px;
    height: 50px;
  }

  .overlay {
    position: absolute;
    right: 0;
    top: 30%;
    opacity: 0;
    transition: all 0.3s;
    .anticon {
      margin-right: 8px;
      color: #888;

      &.anticon:hover {
        color: #a845de;
      }
    }
  }

  &:hover {
    .overlay {
      opacity: 1;
    }
  }
  &.last-item {
    border-bottom: none;
  }
}

.popover-wrapper {
  display: inline-block;
  button {
    display: block;
    color: #999;
  }
}

.modal-download-wrapper {
  .modal-bottom {
    .content {
      text-align: center;
      p {
        margin-top: unset;
      }
    }
    .quality-wrapper {
      display: flex;
      justify-content: space-around;
      button {
        background-color: #721799;
        border: unset;
      }
    }
  }
}
