.country-topic-wrapper {
    margin-top: 1rem;
    .ant-tabs-nav-wrap {
        .ant-tabs-nav-list {
            display: grid !important;
            grid-template-columns: 1fr 1fr 1fr;

            .ant-tabs-tab {
                margin-right: 0px !important;
                padding: 8px 17px !important;
                justify-content: center;
            }
        }
    }
}
