.country-topic-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .content {
    padding: 10px 0px;
    background-color: #ddd;
    text-align: center;
    border-top: 2px solid #ddd;
    cursor: pointer;
    &:hover {
      border-top: 2px solid purple;
    }
    &:active {
      border-top: 2px solid purple;
    }
  }
}
