.main-left-wrapper {
    .top-chart-wrapper {
        .song-in-top {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            margin-bottom: 10px;
        }
    }
}
